/*Menu colores*/
:root {
  --azul: #0DA7E0;
  --amarillo: #FFD447;
  --blanco: #ffffff;
  --negro: #000000;
  --transAzul: rgba(13, 167, 224, 0.7);
  --transAzulFuerte: rgba(13, 167, 224, 0.8);
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*Importaciones*/

/*Configuracion barra de navegacion*/
.navbar{
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: var(--transAzul);
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    padding: 0 1rem;
}

.navbar:hover {
    background-color: var(--transAzulFuerte);
}

/*Configuracion del logo*/
.navbar .navbar-brand{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}

.navbar .logo {
    height: 300%;
    width: auto;
    display: block;
}

/*Configuracion del menu Letras*/
.navbar-nav {
    display: flex;
    gap: 30px;
}
.navbar .nav-link{
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: .5px;
    color:var(--blanco);
    transition: color 0.3s;
}

.navbar .nav-link:hover {
    color: var(--amarillo);
}

