/*Menu colores*/
:root {
  --azul-muy-oscuro: #123448;
  --azulFuerte: #0d9bce;
  --azul-texto: #076A99;    
  --amarillo-texto: #A38600; 
  --rojo-texto: #A00020;     
  --azul: #0DA7E0;
  --amarillo: #FFD447;
  --rojo: #EA0029;
  --blanco: #ffffff;
  --transSombra: rgba(0, 0, 0, 0.25);
  --negro: hsl(0, 0%, 0%);
  --fondo: #FFFBF3;
  --footerAzul: rgba(13, 167, 224, 0.8);
  --transfondo: rgba(3, 52, 82, 0.462);
  --transAzulFuerte: rgba(13, 66, 86, 0.5);
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*Importaciones*/

/*Fondo*/
html, body, #root{ 
  background-color: var(--fondo);
}

/*Configuracion barra de navegacion*/
.nav-sticky {
  position: sticky !important;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  
}

.nav-sticky.sticky:hover{
  background-color: var(--azul);
  box-shadow: none;
}

.nav-sticky.sticky {
  background-color: var(--footerAzul);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  height: 55px;           /* reduce altura */
  padding: 0 0.8rem; 
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: var(--azul);
  display: flex;
  align-items: center;
  align-content:space-between;
  padding: 0 1rem;
  position: relative; /* posición normal inicial */
  transition: all 0.3s ease;
  padding-left: 50px;
}

/*Configuracion del logo*/
.navbar .navbar-brand{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
}

.navbar .logo-negative {
  height: 100%;
  width: auto;
  display: block;
  margin-left: 30%;
}

/*Configuracion del menu Letras*/
.navbar-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}
.navbar .nav-link{
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: .5px;
  color:var(--blanco);
  transition: color 0.3s;
}

.middle-right {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 80px;
}

.nav-link.active, .nav-link:hover {
  color: var(--amarillo) !important; 
  border-bottom: 3px solid var(--amarillo);
}

.txt-nav{
  padding-left: 120px ;
}

/*Configuracion boton Donar*/
.nav-donar {
  padding: 10px 20px;
  background-color: var(--azul);
  border: 1px solid var(--blanco);
  color: var(--blanco);
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: .5px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.nav-donar:hover {
  color: var(--azul);
  background-color: var(--blanco);
}

/* ACTIVE REAL */
.nav-donar-active {
  color: var(--azul);
  background-color: var(--blanco);
}

/*Configuracion de carrusel*/
.carousel-item {
  transition: transform 50s ease; /* deslizamiento más lento */
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px !important;      
  height: 60px !important;
  background-size: 100% 100% !important; 
  filter: brightness(0) saturate(100%) invert(97%) sepia(69%) saturate(4629%) hue-rotate(319deg) brightness(105%) contrast(101%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transAzulFuerte);
  z-index: 1;
}

.carousel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

/*Separador*/
.carousel-content .logo {
    height: auto;
    width: 100%;
}

.separador{
    width: 5%;
    height: auto;
    display: block;
    margin: 2% auto;
}

.titulo{
  color: var(--blanco);
}

/*Configuracion de pie de pagina*/
.footer{
  background-image: url(../assets/jab_patron2.1.svg);
  background-size: cover;
  width: 100%;
  background-color: var(--footerAzul);
  color: var(--blanco);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  padding-top: 2%;
  margin-top: 2%;

}

.footer-contenido {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50%;
  padding: 0 1%;
}

.footer-col {
  flex: 2;
}

.footer-col h4 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--blanco);
}

.footer-col p,
.footer-col li {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Línea inferior del footer */
.footer-bottom {
  display: flex;
  background-color: var(--azul);
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  font-size: 0.90rem;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-bottom-col {
  color: var(--blanco);
}

.footer-bottom-col a {
  color: var(--blanco);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-bottom-col a:hover {
  color: var(--amarillo);
}

/* Alineaciones */
.footer-bottom-col.left {
  text-align: left;
}

.footer-bottom-col.center {
  text-align: center;
}

.footer-bottom-col.right {
  text-align: right;
}

.icono-social {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--blanco);
  background-color: var(--azulFuerte);
  color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-size: 1.7rem;
  transition: 0.3s;
  gap: 10px;
}

.icono-social:hover {
  border: 1px solid var(--azulFuerte);
  background-color: var(--amarillo);
  color: var(--azul-texto);
}

/*Autores*/
.autores{
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.0rem;
  font-weight: 700;
}

.autores:hover{
  color: var(--amarillo);
  transition: 0.3s;
}

/* Configuracion apartado sobre nosotros */
.about-section {
  background-color: var(--transAzul);
}

.col-lg-6 {
  position: relative;
}

.about-logo{
  position: absolute;
  top: 0;
  left: 270px;
  width: 100px;
}

.about-image {
  max-width: 85%;
  max-height: 370px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 15px 35px var(--transSombra);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.about-image:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.35);
}

.about-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--azul-texto);
  margin-bottom: 0.5rem;
}

.about-subtitle {
  font-family: 'Alef', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--rojo-texto);
  margin-bottom: 1.5rem;
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: justify;
  color: var(--azul-muy-oscuro);
}

/* Configuracion de servicios */
.servicios-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 20px; 
  padding: 50px 10%;
}

.servicio-card {
  background-color: var(--blanco);
  border-radius: 10px;
  overflow: hidden;
  width: calc(25% - 15px);
  height: 310px; 
  box-shadow: 0 4px 10px var(--transSombra);
  text-align: center;
  transition: transform 0.3s;
  position: relative;
  cursor: pointer;
}

.servicio-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(
    to top,
    var(--transAzulFuerte),
    var(--transAzul)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.servicio-card:hover::after {
  opacity: 1;
}

.servicio-card:hover {
  transform: translateY(-5px);
}

.servicio-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 250px; 
  object-fit: cover;
}

.servicio-titulo {
  font-size: 1.2rem;
  margin: 15px 0 2px 0;
  color: var(--amarillo-texto);
}

.servicio-texto {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--blanco);
  padding: 10px;
  font-size: 1rem;
  color: var(--azul-muy-oscuro);

  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 3;
}

.servicio-card:hover .servicio-texto {
  opacity: 1;
  transform: translateY(0);
}


/*Configuracion de donar*/
.donar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.donar::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--transfondo);
  z-index: 1;
}

.donar-contenedor {
  position: relative;
  z-index: 2;
}

.donar-image{
  max-width: 100%;
  max-height: 360px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 15px 35px var(--transSombra);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.donar-title{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--azul-muy-oscuro);
  margin-bottom: 0.5rem;  
}

.donar-subtitle{
  font-family: 'Alef', sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--azul-muy-oscuro);
  margin-bottom: 1.5rem;
}

.donar-datos-subtitle{
  color: var(--rojo-texto);
}

.donar-datos-title{
  color: var(--azul-texto);
}

.donar-datos{
  max-width: 600px;
  width: 90%;
  background-color: var(--transAzul);
  margin: 0 auto;
  border-radius: 30px;
  padding: 30px 20px;
}

.donar-datos-inner {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
}

.donar-input-wrapper {
  position: relative;
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.donar-currency {
  position: absolute;
  left: 14px;
  top: 35%;
  transform: translateY(-50%);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--azul-texto);
}

.donar-input {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 14px;
  margin-bottom: 16px;
  width: 100%;
}

.donar-btn{
  border: 1px solid var(--blanco);
  background-color: var(--azulFuerte);
  color: var(--blanco);
}

.donar-btn:hover{
  border: 1px solid var(--azulFuerte);
  background-color: var(--amarillo);
  color: var(--azul-texto);
}

/*Configuracion contactos*/
.text-capacitacion{
  color: var(--rojo-texto);
}

.icono-social {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--blanco);
  background-color: var(--azulFuerte);
  color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-size: 1.7rem;
  transition: 0.3s;
  gap: 10px;
}

.icono-contacto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--blanco);
  background-color: var(--azulFuerte);
  color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 120px;
  font-size: 1.7rem;
  transition: 0.3s;
  gap: 10px;
}

.text-oscuro{
  color: var(--azul-muy-oscuro);
}

/* Configuracion sobre nosotros*/
.about-fondo {
  padding: 350px;
  padding-bottom: 20px;
  background-image: url("../assets/fondo-about.jpg");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.about-fondo::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.head-title, .head-subtitle{
  color:var(--azul-muy-oscuro);
}

.about-fondo .container{
  margin-top: 20px;
}

/* Responsivo: en pantallas medianas y pequeñas */
@media (max-width: 992px) {
  .servicio-card {
    width: calc(50% - 10px); /* 2 tarjetas por fila */
  }
}

@media (max-width: 576px) {
  .servicio-card {
    width: 100%; /* 1 tarjeta por fila en móviles */
  }
}

/* Responsive (pantallas pequeñas) */
@media (max-width: 768px) {
  .footer-contenido {
    flex-direction: column;
    text-align: center;
  }

  .footer-col {
    margin-bottom: 20px;
  }
}