html, body{
  background-color: #E9E8E8 !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: initial;
}

footer.footer{
  margin-top: auto;
}


