/*Menu colores*/
:root {
  --azul-muy-oscuro: #123448;
  --azulFuerte: #0d9bce;
  --azul-texto: #076A99;    
  --amarillo-texto: #A38600; 
  --rojo-texto: #A00020;     
  --azul: #0DA7E0;
  --amarillo: #FFD447;
  --rojo: #EA0029;
  --blanco: #ffffff;
  --transSombra: rgba(0, 0, 0, 0.25);
  --negro: hsl(0, 0%, 0%);
  --fondo: #FFFBF3;
  --footerAzul: rgba(13, 167, 224, 0.8);
  --transfondo: rgba(3, 52, 82, 0.462);
  --transAzulFuerte: rgba(15, 54, 69, 0.551);
}

#root {
  background-color: var(--fondo);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* TITULOS */
li, h1, h2, h3 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  font-size: 2.3rem;
  color: var(--azul-texto);
}
/*Subtitulos*/
h4 {
  font-family: 'Alef', sans-serif !important;
  font-weight: 500 !important;
  font-size: 1.5rem;
  color: var(--rojo-texto);
}

/* TEXTOS GENERALES */
body, p {
  font-family: 'Inter', sans-serif !important;
  font-size: 1.1rem !important;
  line-height: 1.3;
  font-weight: 400;
  text-align: justify;
  hyphens: auto;
  word-break: normal;
  color: var(--azul-muy-oscuro);
}
 .carousel, .carousel-inner {
  background-color: transparent !important;
}
